# Ignore everything by default
**

# Include specific files
!app.json
!eas.json
!package.json
!package-lock.json
!tsconfig.json
!babel.config.js
!metro.config.js
!README.md

# Include specific folders
!app/**
!assets/images/**
!components/**
!constants/**
!hooks/**
!lib/**
!scripts/**